{% extends 'admin/layout.html.twig' %}
	
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading" id="heading">
			<h1>Witaj w panelu administracyjnym</h1>
		</div>
		<p>Do dzieła!</p>
	</div>

{% endblock %}
