{% extends 'admin/layout.html.twig' %}
	
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading" id="heading">
			<h1>Panel administracyjny</h1>
		</div>
		<div class="panel-body">
			<p>Do dzieła!</p>
		</div>
	</div>

{% endblock %}
