{% extends 'default/layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h1>{{page.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<ul id="secondary_nav" class="nav nav-pills nav-stacked list-group">
				{% for link in page.children %}
					<li role="presentation" class="list-group-item
						{% if(link.slug == page.slug) %}
							active
						{% endif %}
						">
							<a href="{{ path('childPage', { 'slug': link.slug, 'parent': page.slug }) }}">{{ link.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-12 col-sm-9">
			{{page.content | raw}}
		</div>
	</div>
{% endblock %}

