{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/admin/style.css')}}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<nav class="navbar navbar-default" id="main_admin_nav">
		<div class="container">
			<div class="navbar-header">
				<p>Najlepsiejszy CMS</p>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<ul id="secondary_nav" class="nav nav-pills nav-stacked list-group">
					<li role="presentation" class="list-group-item">
						<a href="{{ path('admin_page_index') }}">Strony</a>
					</li>
					<li role="presentation" class="list-group-item">
						<a href="{{ path('admin_footer_index') }}">Stopki</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-9">
				<ol class="breadcrumb">
					<li><a href="#">Panel</a></li>
					{% block breadcrumb %}{% endblock %}
				</ol>
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}