{% extends "admin_layout.html.twig" %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li>
			<a href="{{ path('admin_dashboard') }}">Panel</a>
		</li>
		<li>
			<a href="{{ path('user_index') }}">użytkownicy</a>
		</li>		
		<li class="active">
			Rejestracja
		</li>
	</ol>
{% endblock %}

{% block content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}