{% extends "admin_layout.html.twig" %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li>
			<a href="{{ path('admin_dashboard') }}">Panel</a>
		</li>
		<li>
			<a href="{{ path('fos_user_profile_show') }}">Moje konto</a>
		</li>		
		<li class="active">
			Zmiana hasła
		</li>
	</ol>
{% endblock %}

{% block content %}
	{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock content %}