body {
	/* Background pattern from subtlepatterns.com */
	background-image: url("../images/mochaGrunge_@2X.png");
}
#heading{
	overflow:auto;
}
#heading h1{
	float: left;
}
#heading a{
	float: right;
	margin-top: 23px;
}
#backtolist {
	margin: 10px 0px 10px 0px;
}
.action-buttons form{
	float: left;
	margin-right: 10px;
}
.navbar-right {
	margin: right;
}
#address {
	overflow:auto;
}
#address div:first-of-type,
#address div:nth-of-type(3) {
	float: left;
	margin-top: 8px;

}
#address input{
	float: left;
	width: 30%;
}

#address .slash{
	padding-left: 3px;
	padding-right: 3px;
	
	float: left;
	font-size: 20px;
	margin-top: 5px;
}