body {
	background-color: #d1e0e0;
}
#panel-exception {
	margin: 120px auto 0;
	max-width: 500px;
	border: none;
}
#panel-exception .panel-heading {
	background-color: #94b8b8;
	color: #fff;
	padding: 20px;
}

#panel-exception .panel-body {
	background-color: #f0f5f5;
	color: #333;
}

#panel-exception h1 {
	margin-top: 10px;
}